![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [20]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()


# Start coding here...
# Which NYC schools have the best math results?

# Convert the dictionary to a pandas DataFrame
df = pd.DataFrame(schools)

# Define the minimum score to be considered among the best
min_score = 0.8 * 800

# Filter schools with average math scores of at least 80% of the maximum possible score
best_math_schools = df[df["average_math"] >= min_score]

# Sort the DataFrame by "average_math" in descending order
best_math_schools = best_math_schools.sort_values(by= "average_math", ascending=False)

# Select only the required columns
best_math_schools = best_math_schools[["school_name", "average_math"]]

# Display the best_math_schools DataFrame
best_math_schools

# What are the top 10 performing schools based on the combined SAT scores?

# Calculate the total SAT score for each school
df["total_SAT"] = df["average_math"] + df["average_reading"] + df["average_writing"]

# Sort the DataFrame by "total_SAT" in descending order and select the top 10 schools
top_10_schools = df.sort_values(by="total_SAT", ascending=False).head(10).reset_index(drop=True)

# Select only the required columns
top_10_schools = top_10_schools[["school_name", "total_SAT"]]

# Display the top_10_schools DataFrame
top_10_schools

# Which single borough has the largest standard deviation in the combined SAT score?

# Group the data by borough and calculate the count of schools, mean and standard deviation of "total_SAT"
borough_stats = df.groupby("borough").agg({
    "school_name": "count",
    "total_SAT": ["mean", "std"]
}).round(2)

# Rename the columns for better readability
borough_stats.columns = ["num_schools", "average_SAT", "std_SAT"]
borough_stats = borough_stats.reset_index()

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats.loc[borough_stats["std_SAT"].idxmax()].to_frame().T

# Display the results
largest_std_dev

     borough num_schools average_SAT std_SAT
2  Manhattan          89     1340.13  230.29